html {
  background-color: #1a1a1a;
}

.form {
  margin-top: 80px;
  color: white;
  padding: 100px;
}

.form-search {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.form-search-items {
  margin-right: -50px;
}

.input--name {
  width: 300px;
}

.input--year {
  max-width: 170px;
}

.btn--group {
  margin-top: 30px;
  float: right;
}

.btn--reset {
  margin-right: 50px;
  min-width: 130px;
}

.btn--search {
  min-width: 130px;
}
